# Learning working with Pandas

In [1]:
import pandas as pd

In [2]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

In [4]:
countries_df.to_csv('data/countries.csv', index=False, sep=';')

In [ ]:
countries_data = pd.read_csv('data/countries.csv', sep=';')

#### ЧТЕНИЕ CSV-ФАЙЛА ПО ССЫЛКЕ

In [8]:
data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')

In [134]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
print(round((melb_data.loc[3521, 'Landsize']) /  (melb_data.loc[1690, 'Landsize']), 0))

3.0

In [ ]:
# print(melb_data.tail(7))
print(melb_data.shape)
print(melb_data.info())
# print(melb_data.head())

In [ ]:
melb_data['Postcode'] = melb_data['Postcode'].astype('int64')
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')

13580-12211

In [ ]:
melb_data.describe().loc[:, ['Distance', 'BuildingArea', 'Price']]

In [130]:
melb_data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

In [133]:
melb_data['Regionname'].value_counts()

Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: Regionname, dtype: int64

In [ ]:
data = pd.DataFrame([[0,1], [1, 0], [1, 1]], columns=['А', 'B'])
print(data.shape)

In [ ]:
print(melb_data['Price'].mean())
print(melb_data['Car'].max())

rate = 0.12
income= melb_data['Price'].sum() * rate
print('Total income of real estate agencies ', round(income, 2))

In [ ]:
landsize_median = melb_data['Landsize'].median()
landsize_mean = melb_data['Landsize'].mean()
print(abs(landsize_median -  landsize_mean)/landsize_mean)

print(melb_data['Rooms'].mode())
melb_data['Regionname'].mode()

In [74]:
# print(melb_data.describe().loc[:, ['Propertycount']])
# print(melb_data['Distance'].std())
build_area_median = melb_data['BuildingArea'].median()
build_area_mean = melb_data['BuildingArea'].mean()

print(abs(build_area_median - build_area_mean)/build_area_mean)

0.09764079662364533

In [ ]:
mask = melb_data['Price'] > 2000000
# print(melb_data[mask].head())
print(melb_data[melb_data['Price'] > 2000000])

In [ ]:
melb_data[melb_data['Rooms'] == 3].shape[0]
melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)].shape[0]
melb_data[((melb_data['Rooms'] == 3) | (melb_data['BuildingArea'] > 100)) & (melb_data['Price'] < 300000)].shape[0]

melb_data[melb_data['Type'] == 't']['Rooms'].max()

mean_price = melb_data['Price'].mean()
melb_data[melb_data['Price'] > mean_price]['BuildingArea'].median()
melb_data[melb_data['Bathroom'] == 0]['Bathroom'].count()
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]

melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

round(melb_data[((melb_data['Price'] < 1000000) & ((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015)))]['Price'].mean())
melb_data[((melb_data['Type'] == 'h') & (melb_data['Price'] < 3e6))]['Regionname'].mode()