### Анализ данных о результатах экзаменов по математике, чтению и письму среди студентов некоторого учебного заведения.

In [3]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')

In [24]:
student_data.head()
# student_data.info()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
student_data.loc[155]
student_data.describe(include=object).count(1)

In [19]:
student_data['math score'].mean()

66.089

In [ ]:
student_data.describe(include=object)

In [26]:
student_data[student_data['test preparation course'] == 'completed']['reading score'].mean()

73.89385474860335

In [29]:
student_data[student_data['math score'] == 0]['math score'].count()

1

In [31]:
money_student = student_data[student_data['lunch'] == 'standard']['math score'].mean()
free_student = student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()
print(max(money_student, free_student))
print(money_student, free_student)

70.03410852713178
70.03410852713178 58.92112676056338

In [ ]:
student_data['parental level of education'].value_counts(normalize=True)

In [41]:
median_writing_A = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
mean_writing_C = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
print(abs(median_writing_A - mean_writing_C))

5.827586206896555