In [1]:
import pandas as pd
from scipy.stats import shapiro
from scipy.stats import ttest_ind
from scipy.stats import f_oneway

## Домашнее задание

Используя информацию по мидиям Петербурга и Магадана, которые представлены в виде двух массивов petersburg и magadan в разделе ANOVA тест, проверьте данные на нормальность и на наличие корреляции. Для этого объедините 2 массива в DataFrame. Обоснуйте выбор теста на корреляцию. Сделайте вывод по гипотезе.

Также ответьте на вопрос: Какова разница в среднем размере мидии в зависимости от города-производителя. Обоснуйте выбор теста. Сделайте вывод по гипотезе.

In [2]:
petersburg = [0.0974, 0.1352, 0.0817, 0.1016, 0.0968, 0.1064, 0.105]
magadan = [0.1033, 0.0915, 0.0781, 0.0685, 0.0677, 0.0697, 0.0764,
           0.0689]

In [3]:
zipped = list(zip(petersburg, magadan))
df = pd.DataFrame(zipped, columns=['Petersburg', 'Magadan'])
df

   Petersburg  Magadan
0      0.0974   0.1033
1      0.1352   0.0915
2      0.0817   0.0781
3      0.1016   0.0685
4      0.0968   0.0677
5      0.1064   0.0697
6      0.1050   0.0764

In [4]:
H0 = 'Данные распределены нормально'
Ha = 'Данные не распределены нормально (мы отвергаем H0)'
alpha = 0.05

### Тест Шапиро-Уилка
Выбрал его так как он подходит для небольших выборок данных, Дагостино к нашему датасету не подойдет из-за малокго кол-ва объектов

In [5]:
_, p = shapiro(df)
print('p=%.3f' % p)

# Интерпретация 

if p > alpha:
	print(H0)
else:
	print(Ha)

p=0.226
Данные распределены нормально

Мы провели тест на нормальность и поняли, что данные близки к гауссовскому распределению. Значит, мы переходим к параметрическим тестам для проверки нашей нулевой гипотезы. Мы сравниваем количественные переменные, значит используем тест на сравнение выборок. 
В нашем случае это Т-тест так как в выборке у нас меньше 30 объектов.

### Независимый T-тест
Выбрал этот тест так как у нас малая выборка, меньше 30 и используются 2 признака одной совокупности - размер мидий

In [6]:
H0 = 'Нет значимой разницы между размерами раковины мидий в разных городах.'
Ha = 'Есть значимая разница между размерами раковины мидий в разных городах.'

def t_test(df):
    print('\n' + "*** Результаты независимого T-теста ***")
    test_results = ttest_ind(df['Petersburg'], df['Magadan'], equal_var=True)

    p = round(test_results[1],2)

    if p>alpha:
        print(f"{p} > {alpha}. Мы не можем отвергнуть нулевую гипотезу. {H0}")
    else:
        print(f"{p} <= {alpha}. Мы отвергаем нулевую гипотезу. {Ha}")

t_test(df)

*** Результаты независимого T-теста ***
0.01 <= 0.05. Мы отвергаем нулевую гипотезу. Есть значимая разница между размерами раковины мидий в разных городах.

### Корреляция Пирсона

In [7]:
df.corr()

            Petersburg   Magadan
Petersburg    1.000000  0.255095
Magadan       0.255095  1.000000

Вывод по коэфициенту корреляции Пирсона: мы видим, что окэфициент составляет 0.25 - это говорит об отсутствии связи 
или очень слабая связь

### ANOVA тест для сравнения среднего значения размера мидий

In [8]:
_, p = f_oneway(df['Petersburg'], df['Magadan'])
H0 = 'Нет значимой разницы между средним размером раковины мидий в двух разных местах.'
Ha = 'Есть значимая разница между средним размером раковины мидий в двух разных местах.'
if p>alpha:
  print(f"{p} > {alpha}. Мы не можем отвергнуть нулевую гипотезу. {H0}")
else:
  print(f"{p} <= {alpha}. Мы отвергаем нулевую гипотезу. {Ha}")

0.010369233123633585 <= 0.05. Мы отвергаем нулевую гипотезу. Есть значимая разница между средним размером раковины мидий в двух разных местах.

In [9]:
difference = round(df['Petersburg'].mean() - df['Magadan'].mean(),2)
print(f"Разница в среднем размере мидии в зависимости от города-производителя - {difference}")

Разница в среднем размере мидии в зависимости от города-производителя - 0.02

### Вывод:
И так мы видим что наши данные распределены нормально, корелляция очень слабая или вообще отсутствует а вот разница в средних размерах раковин мидий значительная в 2х разных городах. В Петербурге средний размер мидий больше