In [1]:
import pandas as pd
from statsmodels.stats.proportion import proportions_ztest
from scipy.stats import shapiro
from scipy.stats import mannwhitneyu
from scipy.stats import norm

import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
site_data = pd.read_csv('new-site.csv', delim_whitespace=True)

In [23]:
site_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   site        300 non-null    int64
 1   dwell-time  300 non-null    int64
dtypes: int64(2)
memory usage: 4.8 KB

In [24]:
site_data.groupby('site', as_index=False)['dwell-time'].mean().round(0)

   site  dwell-time
0     0        91.0
1     1        88.0