In [2]:
import pandas as pd 
import xml.etree.ElementTree as ET

In [33]:
tree = ET.parse('menu.xml')
root = tree.getroot()

dish[1].text

'200'

In [28]:
column_names = ['name', 'price', 'weight', 'class']
df = pd.DataFrame(columns=column_names)

for dish in root: 
    row = [dish.attrib['name'], dish[0].text, dish[1].text, dish[2].text]
    df = df.append(pd.Series(row, index=column_names), ignore_index=True)
    
df

    name price weight  class
0   Кура    40    300   Мясо
1  Греча    20    200  Крупа

In [34]:
new_root = ET.Element('menu')
new_root

In [36]:
dish1 = ET.SubElement(new_root, 'dish', name='Kypa')
dish2 = ET.SubElement(new_root, 'dish', name='Греча')
list(new_root)

price1 = ET.SubElement(dish1, 'price').text = '40'
weight1 = ET.SubElement(dish1, 'weight').text = '300'
class1 = ET.SubElement(dish1, 'class').text = 'Мясо'
display(list(dish1))

price2 = ET.SubElement(dish2, 'price').text = '20'
weight2 = ET.SubElement(dish2, 'weight').text = '200'
class2 = ET.SubElement(dish2, 'class').text = 'Крупа'
display(list(dish2))

[<Element 'price' at 0x7fe6c77575e0>,
 <Element 'weight' at 0x7fe6c7757b30>,
 <Element 'class' at 0x7fe6c774ec20>]

[<Element 'price' at 0x7fe6c774ef40>,
 <Element 'weight' at 0x7fe6c774ed60>,
 <Element 'class' at 0x7fe6c774eea0>]

In [38]:
for dish in new_root:
    for param in dish:
        print(dish.attrib['name'], param.tag, param.text)
    print()

Kypa price 40
Kypa weight 300
Kypa class Мясо

Греча price 20
Греча weight 200
Греча class Крупа

In [39]:
new_root_string = ET.tostring(new_root)

with open ('new_menu_xml', 'wb') as f:
    ET.ElementTree(new_root).write('new_menu_good.xml', encoding="utf-8")